<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatti</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/x-icon" href="../img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
 <header>
    <div class="logobar" href="../index.html"><a href="../index.html"><img src="../img/logo.png" id="biglogo" alt="logo of Pomelia hotel"></a></div>
    
        <nav>
        <a class="navoption" href="who.html"><strong>CHI SIAMO</strong></a>
        <a class="navoption" href="how.html"><strong>COME FUNZIONA</strong></a>
        <a class="navoption" href="contacts.html"><strong>CONTATTACI</strong></a>
        
    </nav>
 </header>  
 <div class="container" id="bkgimg4" >
    <div class="textbox">
        <h1><a href="mailto:info@pomelia.com">SCRIVICI PER VERIFICARE LA DISPONIBILITA'</a></h1>
        </div>

 </div>
 
 <footer>
    <p>
        HOTEM POMELIA SRL
        <br>
        <a href="http://www.facebook.com" class="fa fa-facebook"></a>
        <a href="http://www.instagram.com" class="fa fa-instagram"></a>
        <a href="http://www.linkedin.com" class="fa fa-linkedin"></a>
        <br>
        via Pinco Pallino 123
        <br>
        CAP 00186 Roma
        <br>
        Italia
    </p>
 </footer>
</body>
</html>