<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Come funziona</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/x-icon" href="../img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
 <header>
    <div class="logobar" href="index.html"><a href="index.html"><img src="../img/logo.png" id="biglogo" alt="logo of Pomelia hotel"></a></div>
    
        <nav>
        <a class="navoption" href="who.html"><strong>CHI SIAMO</strong></a>
        <a class="navoption" href="how.html"><strong>COME FUNZIONA</strong></a>
        <a class="navoption" href="contacts.html"><strong>CONTATTACI</strong></a>
        
    </nav>
 </header>  
 <div class="container" id="bkgimg3" >
    <div class="textbox">
        <h1>Come funziona</h1>
        <p>Tutta la struttura è alimentata da energia rinnovabile, in parte autoprodotta da pannelli solari. Le camere sono dotate di arredamenti ricavati da materiali di recupero rielaborati da artigiani e artisti della zona, come comodini, specchi e mobili. 

            La biancheria dell’intera struttura è stata recentemente sostituita con tessuti in cotone biologico certificato GOTS e canapa, materiale meno impattante e che non rilascia microplastiche con i frequenti lavaggi che sono necessari in un hotel. La biancheria non più utilizzata è stata donata a una Onlus nella zona che ha provveduto a distribuirla a famiglie in necessità.
            
            L’hotel include un servizio colazione, mezza pensione o di pensione completa a seconda del tipo di pernottamento scelto. I piatti serviti nel ristorante sono tutti a km 0, in parte provenienti direttamente dall’orto biologico di proprietà. Tutti gli altri ingredienti provengono da produttori locali.
            
            L’hotel ha a disposizione una spiaggia attrezzata, senza barriere architettoniche e completamente accessibile. 
            
            Su richiesta, è possibile organizzare una visita guidata della zona con una guida turistica locale o trekking con una guida escursionistica.
            
            Sempre su prenotazione, si organizzano workshop sulla cucina siciliana e sulla permacultura delle coltivazioni.
            
            La clientela è costituita principalmente da famiglie e giovani coppie.</p>
        </div>

 </div>
 
 <footer>
    <p>
        HOTEM POMELIA SRL
        <br>
        <a href="http://www.facebook.com" class="fa fa-facebook"></a>
        <a href="http://www.instagram.com" class="fa fa-instagram"></a>
        <a href="http://www.linkedin.com" class="fa fa-linkedin"></a>
        <br>
        via Pinco Pallino 123
        <br>
        CAP 00186 Roma
        <br>
        Italia
    </p>
 </footer>
</body>
</html>